/app/node_modules
/app/public/hot
/app/public/storage
app/public/uploads
/app/storage/*.key
/app/vendor
/app/.env
/app/.env.backup
.phpunit.result.cache
docker-compose.override.yml
/app/Homestead.json
/app/Homestead.yaml
/app/npm-debug.log
/app/yarn-error.log
/.idea
/app//.vscode
/app/env
/app/.env.example
/app/.env.example
/app/.DS_Store
/app/Dockerfile
/app/docker-compose.yml
/app/docker-compose
/app/public/*.csv
/app/public/*.xlsx
.idea
